/*#myCarousel{
	 width : 200px;
	}*/
	
#myNavbar #liNavbar{ 

	display: inline-block;
	float: none;
	
	}

#myNavbar {
	padding : 5px;
	text-align: center;

	}
#IntroduceCafe{
	margin-top:150px;
}
#pic{
		margin-left :400px;
		margin-right:0px;
		margin-top:30px;
	}
	
#footer{
	margin-top : 300px;
}

#textcontainer {
      padding: 80px 120px;
    }

div.picture1{
        width:200px;
        height:200px;

        margin:50px;
    }
div.picture{
        display:flex;
        margin-bottom:30px;
    }
div.picturename{
        margin-left: 50px;
		text-align :left;
        margin-bottom:170px;
    }
div.menupic{
	margin-left :100px;
	display:flex;
}